<html>
<head>
</head>	
<body>
	
	<a href='/'> ADD ITEM </a> &nbsp;  
	<a href='/pending'> SHOW PENDING TASKS </a> &nbsp; 
	<a href='/completed'>SHOW COMPLETED ITEMS </a>&nbsp;
	<a href='/complete'> MARK AS COMPLETE </a> &nbsp;
	<a href='/delete'> DELETE TASK </a> <br/> 
	
<%=yield %>
</body>
</html>
