<html>
<head>
<title>TODO LIST WEB PAGE</title>
<h1> ADD TASK <h1>
</head>
<body>
<form action='/add' method="post">
   <input type ="text" name = "task1">
   <input type="submit" name = "add1" value = "ADD">
</form>
</body>
</html>
